<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "Register a restaurant", new_user_restaurant_path(current_user), class:'btn btn-default' %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class:'btn btn-default' %></li>
        <p class="navbar-text"><%= "Signed in as #{current_user.email}" %></p>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path, class:'btn btn-default' %></li>
        <li><%= link_to "Sign in", new_user_session_path, class:'btn btn-default' %></li>
      <% end %>
    </ul>

  </div>
</div>
