<div class='row'>
  <div class='col-md-12'>
    <%= form_for([current_user, @restaurant], :html => {class: "form-horizontal", role: "form"}) do |f| %>

      <% if @restaurant.errors.any? %>
        <div class="error_explanation">
          <h2>
            <%= pluralize(@restaurant.errors.count, 'error') %>
            prohibited this restaurant from been saved:
          </h2>
          <div>
            <ul>
              <% @restaurant.errors.full_messages.each do |msg|%>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class='form-group'>
        <div class='control-label col-md-2'>
          <%= f.label :name, 'Restaurant\'s name:' %>
        </div>
        <div class='col-md-10'>
          <%= f.text_field :name, class: 'form-control', autofocus: true %>
        </div>
      </div>
      <div class='form-group'>
        <div class='control-label col-md-2'>
          <%= f.label :address, 'Address' %>
        </div>
        <div class='col-md-10'>
          <%= f.text_field :address, rows: 10, class: 'form-control'%>
        </div>
      </div>

      <div class='form-group mt-2'>
        <div class='col-md-offset-2 col-md-10'>
          <%= f.submit class: 'btn btn-success btn-lg' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
