<h1 class='mb-3 text-center'>Edit or delete your Restaurants from the API</h1>

<div class="card-restaurant m-2 d-flex justify-content-between p-3">
  <div class="card-restaurant-infos">
    <h2><%= @restaurant.name %></h2>
    <p><%= @restaurant.address %></p>
    <p>id: <%= @restaurant.id %></p>
  </div>
  <div>
    <%= link_to 'API Access', "/api/v1/restaurants/#{@restaurant.id}",target: '_blank', class: 'btn btn-lg btn-success link'%>
  </div>
</div>
<%= link_to 'Back', root_path, class: 'btn btn-default link'%>
<% if user_signed_in? && current_user == @restaurant.user %>
  <%= link_to "Edit", [:edit, current_user, @restaurant] %>
  <%= link_to "Destroy", [current_user, @restaurant], method: :delete, data: { confirm: 'Are you sure?' }%>
<% end %>

<div class="col-md-12">
  <%= form_for [@restaurant, @comment], remote: true,
      :html => {class: "form-horizontal", role: "form"} do |f| %>
    <% if @comment.errors.any? %>
      <div class="panel panel-danger col-md-offset-1">
        <div class="panel-heading">
          <h2 class="panel-title">
            <%= pluralize(@comment.errors.count, "error") %>
            prohibited this comment from being saved:
          </h2>
          <div class="panel-body">
            <ul>
              <% @comment.errors.full_messages.each do |msg| %>
                <li> <%= msg %> </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <div class='form-group'>
      <div class='control-label col-md-2'>
        <%= f.label :content, 'New Comment' %>
      </div>
      <div class='col-md-10'>
        <%= f.text_area :content, rows: 10, class: 'form-control', placeholder: 'Your comment' %>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-md-offset-2 col-md-10'>
        <%= f.submit "Add Comment", class: 'btn btn-primary btn-lg pull-right' %>
      </div>
    </div>
  <% end %>
</div>

<div class="col-md-12">
  <header>
    <h2>Comments</h2>
  </header>
  <div class="col-md-10">
    <% if @restaurant.comments.any? %>

      <div id="messages">
        <% @comments.each do |comment| %>
          <div class="comment-body">
            <%= comment.content %>
          </div>
          <% if user_signed_in? && current_user == @restaurant.user %>
            <%= link_to "Edit", edit_restaurant_comment_path(@restaurant) %>
          <% end %>
          <hr>
        <% end %>
      </div>

    <% else %>
      There are no comments to show
    <% end %>
  </div>
</div>
